.sidebar {
	grid-column: 1;
	grid-row: 2/7;
	word-wrap: break-word;
}

.category {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.category:hover {
	color: #b8e6ff;
}

@media only screen and (max-width: 960px) {
	.sidebarFull {
		visibility: hidden;
		position: fixed;
	}
}
