.sidebar {
	grid-column: 1;
	grid-row: 2/100;
	word-wrap: break-word;
}

.category {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.category:hover {
	color: #b8e6ff;
}